*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    border: 1px solid green;
}
section{
    padding: 120px 11% 100px;
    background: #092635;
}
p{
    color: white;
}
/*Header Section*/
header{
    padding: 28px 11%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3D0D16;
    transition: all ease 0.5s ;
}
.logo{
    width: 150px;;
    height: 100px;
    border-radius:50px;
    cursor: pointer;
}
.list{
    display: flex;
    align-items:center; 
}
.list a{
    margin: 20px;
    color: white;
    font-family: 'Inter', sans-serif;
}
.setting-btn img{
    height: 35px;
    width: 35px;
    font-size: 24px;
    border-radius: 70%;
    position: relative;
    top: 1.5px;
}
.setting-btn{
    border-radius: 50%;
    cursor: pointer;
    
}
.setting-btn:hover{
    color: #0FEB96;
    transform: translateY(-2px);
    transition: all ease 0.5s;
}

.list a:hover{
    color: #0FEB96;
    transition: all ease 0.5s;
}

/*center*/

.item-code{
    left: 290px;
    top: 10px;
}
.item-name{
    left: 540px;
    top: -10px;
}
.discount{
    left: 290px;
    top: 40px;
}
.price{
    left: 540px;
    top: 18px;
}
.qty{
    left: 421px;
    top: 60px;
}
#lbl-qty{
    color: #0FEB96;
}

.btn-add-to-cart{
    width: fit-content;
    position: relative;
    top: 88px;
    left: 446px;

}
.btn-AtC{
    background: #E3651D;
}
.btn-pace-order{
    background: #69af13;
}

/*table-section*/


/*footer Section*/

.footer img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-family: 'Inter', sans-serif;
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: #3D0D16;
    font-family:'Inter', sans-serif;
    padding-top: 10px;
    padding-bottom: 15px;
}
.footer p{
    line-height: 30px;
    position: relative;
    bottom: -10px;
}
.section-2{
    display: flex;
}
.section-2 div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.section-1{
    position: relative;
    top: -35px;
}
